.container {
    display: grid;
    height: 95vh;

    grid-template-columns: 1fr 3fr 1fr;
    grid-template-rows: 1fr 5fr 1fr;
    grid-template-areas:
        "header header header"
        "sideleft content sideright"
        "footer footer footer";

    grid-gap: 2.5%;
    margin-left: 20%;
    margin-right: 20%;
    margin-top: 1%;
    margin-bottom: 1%;

    color: white;
    font-size: 1.6em;
    font-family: 'Courier New', Courier, monospace;
}

@media (min-width: 500px) and (max-width: 600px) {
    .container {
        grid-template-columns: 1fr 3fr;
        grid-template-rows: 1fr 3fr 1fr 1fr;
        grid-template-areas:
            "header header"
            "sideleft content"
            "sideright sideright"
            "footer footer";

        margin-left: 3%;
        margin-right: 3%;
    }

    .sideright {
        justify-content: start !important;
    }
}

@media (max-width: 499px) {
    .container {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 3fr 1fr 1fr;
        grid-template-areas:
            "header"
            "sideleft"
            "content"
            "sideright"
            "footer";

        margin-left: 1%;
        margin-right: 1%;
    }

    .sideright {
        justify-content: start !important;
    }

    .sideleft {
        justify-content: start !important;
    }
}


.header {
    grid-area: header;
    background-color: gray;
    border-radius: 10px;

    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2%;
}

.sideleft {
    grid-area: sideleft;
    background-color: rgb(5, 119, 249);
    border-radius: 10px;

    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 2%;
}

.content {
    grid-area: content;
    background-color: rgb(115, 245, 234);
    border-radius: 10px;
}

.sideright {
    grid-area: sideright;
    background-color: rgb(174, 222, 0);
    border-radius: 10px;

    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 2%;
}

.footer {
    grid-area: footer;
    background-color: grey;
    border-radius: 10px;

    display: flex;
    justify-content: end;
    align-items: center;
    padding: 2%;
}

a.boton-indice {
    display: inline-block;
    color: #a4fc00;
    background-color: #292D3E;
    border: 1px solid #a4fc00;
    border-radius: 4px;
    padding: 0 15px;
    cursor: pointer;
    height: 32px;
    font-size: 14px;
    text-decoration: none;
    line-height: 32px;
    text-align: center;
}

a.boton-indice:active {
    box-shadow: 0 3px 0 #a4fc00;
    position: relative;
    top: 3px;
}